:root {
    --primary: #90EE90;
    --bg-primary: #536a79;
    --bg-secondary: #36454F;
}

body {
    color: var(--primary);
    background: var(--bg-primary);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.grid-container {
    display: grid;
    padding: 0.5em;
    grid-gap: 10px;
    grid-template-columns: 300px 200px;

    /* Grid Auto Flow */
    grid-auto-flow: column;
    grid-auto-columns: 250px;
}

.grid-item {
    display: grid;
    place-content: center;
    color: var(--primary);
    background: var(--bg-secondary);
    border: 10px solid;
    padding: 1em;
}