:root {
    --primary: #90EE90;
    --bg-primary: #536a79;
    --bg-secondary: #36454F;
}

body {
    color: var(--primary);
    background: var(--bg-primary);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    padding: 0.5em;
}

.grid-item {
    display: grid;
    place-content: center;
    color: var(--bg-secondary);
    background: var(--primary);
    padding: 1em;
}

.grid-item8 {
    grid-column: span 10;
}

.grid-item12 {
    grid-column: span 2;
    grid-row: span 2;
}