:root {
    --primary: #90EE90;
    --bg-primary: #536a79;
    --bg-secondary: #36454F;
}

body {
    color: var(--primary);
    background: var(--bg-primary);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(10, 1fr);
    padding: 0.5em;
}

.grid-item {
    display: grid;
    place-content: center;
    color: var(--bg-secondary);
    background: var(--primary);
    padding: 0.5em;
}

.logo {
    grid-column: span 2;
    order: 2;
}

.nav {
    grid-column: span 8;
    order: 1;
}

.content {
    grid-column: span 7;
    order: 4;
}

.side {
    grid-column: span 3;
    order: 3;
}